/* Button Transition Animation : Press & Hover*/
@media (max-width: 768px) {
    #btns {
        transition: transform 0.5s;
        -webkit-tap-highlight-color: transparent;
        touch-action: manipulation;
        user-select: none;
    }

    #btns:active {
        transform: scale(0.9);
    }
}

@media (min-width: 769px) {
    #btns {
        transition: transform 0.2s;
    }

    #btns:hover {
        transform: scale(0.97);
    }
}


/* Lazy Loading - Skeleton */
#skeleton {
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
    from {
        background-position: -200% 0;
    }

    to {
        background-position: 200% 0;
    }
}

/* Blur Style */
#ten-blur {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
#twenty-blur {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}
#thirty-blur {
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}
#fourty-blur {
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
}
#fifty-blur {
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}